body{
  height: 100vh;
  background: linear-gradient(90deg, rgba(10,10,10,1) 0%, rgba(9,169,229,1) 100%);
  margin: 0;
  padding: 0;
}
#form{
  width: 500px;
  height: 500px;
  border-radius: 20px;
  background-color: white;
  margin: 100px auto 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
